<div class="colored-line">
  <div class="colored-line--1"></div>
  <div class="colored-line--2"></div>
  <div class="colored-line--3"></div>
  <div class="colored-line--4"></div>
  <div class="colored-line--5"></div>
</div>

<button class='tablink' onclick="openPage('prospects', this, 'white', ' black' )" id='defaultOpen'>Prospects</button>
<button class='tablink' onclick="openPage('chart', this, 'white', ' black')">Chart</button>
<button class='tablink' onclick="openPage('map', this, 'white', ' black')">Map</button>


<div id='prospects' class='tabcontent'>
  <div class="">
    {{#each user}}
    {{name}} | {{email}} | {{phone}} | {{meat}} | {{bairro}}
    {{/each}}
  </div>

</div>
<div id='chart' class='tabcontent'>
  la la
</div>

<div class='map' id= "map" class='tabcontent'>
  <div id="mapa"> </div>
</div>


    </script>
<script src="javascripts/admin.js"></script>